{% extends "layouts/base.twig" %}

{% block content %}
    <main class="flex-grow">
        {# Flash messages #}
        {% if flash.error %}
            <div class="mb-4 p-2 bg-red-100 text-red-700 rounded">
                {{ flash.error }}
            </div>
        {% endif %}

        {% if flash.success %}
            <div class="mb-4 p-2 bg-green-100 text-green-700 rounded">
                {{ flash.success }}
            </div>
        {% endif %}

        {# Modules table #}
        {% if modules is not empty %}
            <div class="mx-1 mb-2 rounded-2xl overflow-hidden shadow bg-white dark:bg-gray-900 dark:text-white">
                <table id="modulesTable" class="w-full table-fixed border-collapse">
                    <thead class="bg-gray-200 dark:bg-gray-700">
                    <tr>
                        <th class="px-4 py-2 border">Nazwa modułu</th>
                        <th class="px-4 py-2 border" data-type="time">Godzina rozpoczęcia</th>
                        <th class="px-4 py-2 border" data-type="time">Godzina zakończenia</th>
                        <th class="px-4 py-2 border">Stan</th>
                        <th class="px-4 py-2 border">Akcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for module in modules %}
                        <tr x-data="{ isActive: {{ module.isActive ? 'true' : 'false' }} }">
                            <td class="px-4 py-2 border">{{ module.moduleName }}</td>
                            <td class="px-4 py-2 border">{{ module.startTime.format('H:i') }}</td>
                            <td class="px-4 py-2 border">{{ module.endTime.format('H:i') }}</td>
                            <td class="px-4 py-2 border space-x-2">
                            <span x-bind:class="isActive ? 'bg-green-500' : 'bg-red-500'" class="px-2 py-1 rounded">
                                {{ module.isActive ? 'Włączony' : 'Wyłączony' }}
                            </span>
                                <form method="POST" action="/panel/toggle_module" style="display: inline;">
                                    <input type="hidden" name="module_id" value="{{ module.id }}">
                                    <input type="hidden" name="_token" value="{{ csrf.token }}">
                                    <button type="submit"
                                            class="toggle-btn px-2 py-1 rounded text-white font-bold"
                                            :class="isActive ? 'bg-red-500 hover:bg-red-600' : 'bg-green-500 hover:bg-green-600'">
                                        <span x-text="isActive ? 'Wyłącz' : 'Włącz'"></span>
                                    </button>
                                </form>
                            </td>
                            <td class="px-4 py-2 border space-x-2">
                                <button type="button"
                                        class="edit-btn bg-green-500 hover:bg-green-600 text-white font-bold py-1 px-2 rounded"
                                        data-module-id="{{ module.id }}"
                                        data-start-time="{{ module.startTime.format('H:i') }}"
                                        data-end-time="{{ module.endTime.format('H:i') }}"
                                >
                                    Edytuj
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>Brak modułów do wyświetlenia.</p>
        {% endif %}

        {# Edit modal #}
        <div id="editionModal" class="fixed inset-0 flex items-center justify-center hidden z-50">
            <div class="absolute inset-0 bg-gray-900 bg-opacity-50 backdrop-blur-sm"></div>

            <div class="relative bg-white p-6 rounded shadow-lg max-w-md w-full z-10 dark:bg-gray-800 dark:text-white">
                <h2 class="text-xl font-semibold mb-4">Edytuj godziny wyświetlania modułu</h2>
                <form method="POST" action="/panel/edit_module" id="editModuleForm">
                    <input type="hidden" name="_token" value="{{ csrf.token }}">
                    <input type="hidden" id="edit_module_id" name="module_id">

                    <div class="mb-4">
                        <label for="edit_start_time" class="block text-sm font-medium text-gray-700 dark:text-white">Od</label>
                        <input type="time" id="edit_start_time" name="start_time" class="w-full p-2 border rounded dark:bg-gray-950 dark:text-white">
                    </div>

                    <div class="mb-4">
                        <label for="edit_end_time" class="block text-sm font-medium text-gray-700 dark:text-white">Do</label>
                        <input type="time" id="edit_end_time" name="end_time" class="w-full p-2 border rounded dark:bg-gray-950 dark:text-white">
                    </div>

                    <div class="flex justify-end">
                        <button type="button" id="cancelEditBtn" class="mr-4 px-4 py-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400">
                            Anuluj
                        </button>
                        <button type="submit" class="px-4 py-2 !bg-primary-200 text-white rounded hover:!bg-primary-400">
                            Zapisz
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const modals = {
                    edition: document.getElementById('editionModal')
                };

                const forms = {
                    edit: document.getElementById('editModuleForm')
                };

                const buttons = {
                    cancelEdit: document.getElementById('cancelEditBtn'),
                };

                const toggleModal = (modal, show) => {
                    modal.classList.toggle('hidden', !show);
                };

                const handleEditButtonClick = (event) => {
                    event.preventDefault();

                    const btn = event.currentTarget;

                    const moduleId = btn.getAttribute('data-module-id');
                    const startTime = btn.getAttribute('data-start-time');
                    const endTime = btn.getAttribute('data-end-time');

                    forms.edit.querySelector('#edit_module_id').value = moduleId;
                    forms.edit.querySelector('#edit_start_time').value = startTime;
                    forms.edit.querySelector('#edit_end_time').value = endTime;

                    toggleModal(modals.edition, true);
                };

                document.querySelectorAll('.edit-btn').forEach(btn => {
                    btn.addEventListener('click', handleEditButtonClick);
                });

                buttons.cancelEdit.addEventListener('click', () => toggleModal(modals.edition, false));
            });
        </script>
    </main>
{% endblock %}
